.heading {
  width: 100%;
  display: flex;
 
}
.headingItem1{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.haedingTitle {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.haedingTitle img{
  width:400px !important;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  border-radius: 100%;
}
.headingItem{
margin-right: 1.5em;
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-around;
flex-wrap: wrap;
align-content: flex-start;
border-radius: 150px;
justify-content: center;
align-items: center;
align-content: center;
}
.headingItem img{

width: 200px;

}
.heading-Items{
  display:flex;
  flex-direction: column;
  align-items: center;
 
}

.heading-Items h1{

display: flex;

align-items: center;
font-family: 'Dancing Script', cursive;
    color: #d2691e;
    text-shadow: 0 0 2px rgb(245, 241, 7);
    font-size: 65px;
    font-weight: 700;
}

.headingText h4{
  font-family: 'Dancing Script', cursive;
  margin-top: 15px;
  font-size: 40px ;
  left: 90px;
  color: #d2691e;
  text-align: center;
  font-weight: 400;
  text-shadow: 0 0 5px whitesmoke;
}
 .headingText span{
    font-size: 40px;
    margin-left: 90px;
    position:absolute ;
    /* margin-top: 15px; */
    /* padding-top: 60px;  */
    font-family: 'Dancing Script', cursive;
    color: #d2691e;
    text-shadow: 0 0 2px rgb(245, 241, 7);
    font-weight: 300;
} 
