.heading {
  width: 100%;
  display: flex;
 
}
.headingItem{

display: flex;
flex-direction: row;
width: 60%;
justify-content: space-around;
flex-wrap: wrap;
align-content: flex-start;
border-radius: 150px;

}
.headingItem img{

width: 200px;

border-radius: 50%;
}
.heading-Items{
  display:flex;
  flex-direction: column;
  align-items: center;
 
}

.haedingTitle h1{

display: flex;
margin-top: 70px;
align-items: center;
font-family: 'Dancing Script', cursive;
    color: #d2691e;
    text-shadow: 0 0 2px rgb(245, 241, 7);
    font-size: 100px;
    font-weight: 700;
}

.headingText h4{
  font-family: 'Dancing Script', cursive;
  margin-top: 15px;
  font-size: 40px ;
  left: 90px;
  color: #d2691e;
  text-align: center;
  font-weight: 400;
  text-shadow: 0 0 5px whitesmoke;
}
 .headingText span{
    font-size: 40px;
    margin-left: 90px;
    position:absolute ;
    /* margin-top: 15px; */
    /* padding-top: 60px;  */
    font-family: 'Dancing Script', cursive;
    color: #d2691e;
    text-shadow: 0 0 2px rgb(245, 241, 7);
    font-weight: 300;
} 
