.StyleButtom{
    margin-top: 20px;
    cursor: pointer;
    background-color: #f0eae3;
    color: rgb(14, 13, 13);
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
}