/*
*{
    margin: 0;
    padding: 0;
}

*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*/
body{
    font-family: 'Poppins', sans serif;
    
}

.wrapper{
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 1.5rem;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card{
    overflow: hidden;
    box-shadow: 0 2px 20px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;

}

.card_image {
    height: 12rem;
    width:100%;
    object-fit:cover;
    
}

.card_title{
    padding: 1rem;
    
}

.card_description{
    padding: 0 1rem;
}

.card_btn{
  
 padding: 1rem;
 font-family: inherit;
 font-weight: bold;
 font-size: 1rem;
 margin: 1rem;
 border: 2px solid;
 background: transparent;
 color: #e07924;
 border-radius: 0.2rem;
 transition: 200ms ease-in, color 200ms ease-in;
 cursor: pointer;
   
}


.card :hover{
    transform: scale(1.02);

}

.card_btn :hover{
    background:violet;
    color:white;
}