

.register{
   
    height: calc(100vh-50px) ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../../Imagen/viajar.jpeg");
    
    background-size: cover;
    padding-bottom: 80px;
}

.registerTitle{
    font-size: 50px;
    
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm> label{
    margin: 10px 0;
}
.regiterInput{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}
.regiterInput:focus {
    outline: none;
  }
.registerButton{
   margin-top: 20px;
    cursor: pointer;
    background-color: #e78609;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color:#e07924 ;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: #64b2ff;
    border-radius: 10px;
}