@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



.containerheader{
     background: rgb(235,200,237);
    background: linear-gradient(41deg, rgba(235,200,237,1) 29%, rgba(171,237,215,1) 57%, rgba(240,194,114,1) 90%);  
   
    width: 100%;
    height: 100%;
}

.header{

    
    position: relative;
    text-align: center;
    
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #23394d;
    text-shadow: 0 0 5px whitesmoke;
}
.headerTitleLg{
    position: absolute;
   
  
}

.headerTitleLg h1{
    font-family: 'Dancing Script', cursive!important;
    font-weight: 700;
    font-size: 80px;
    position: absolute;
    color: #d2691e;
    text-shadow: 0 0 2px rgb(245, 241, 7);
    
}

.headerTitleM p{
    margin-top: 20px;
    font-size: 60px ;
    left: 90px;
    color: #d2691e;;
    text-align: center;
    text-shadow: 0 0 2px rgb(245, 241, 7);
    font-weight: 400;
    font-family: 'Dancing Script', cursive !important;
}
.headerImg{
    padding: 1.5rem;
    margin-top: 45px;
    object-fit: cover; 
    
   
}
.headerImgStyle{
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    margin-top: 2em;
    /* border: outset; */
    border-left:8px solid #d2691e;
    border-bottom:8px solid #d2691e;;
}
.headerTexto{
    display: flex;
}
.headerTexto p{

    margin-top: 60px;
    font-size: 35px ;
    left: 90px;
    color: #23394d;
    text-align: center;
    justify-content: center;
    text-shadow: 0 0 2px rgb(245, 241, 7);
    font-weight: 200;
    width: 100%;
    border-left:8px solid #d2691e;
    font-weight: bold;
    padding: 15px;

    border-bottom:2px solid #d2691e;;
    
}
.headerTextoImg{
    
    width: 100%;
    margin-top: 20px;
}
.headerTextoImg img{
    border-radius: 80%;
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
.headerFrase1 h1{
    font-size: 60px;
    margin-left: 90px;
    position:absolute ;
    margin-top: 115px;
    padding-top: 60px;
    font-family: 'Dancing Script', cursive;
    color: #d2691e;
    text-shadow: 0 0 2px rgb(245, 241, 7);
    font-weight: 300;

    
}
.imgFrase1{
    width: 100%;
    height: 500px;
    object-fit: none;
    background: url(../Imagen/ruta1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}