.itineraryTextarea{
  width: 100%;
  height: 50px;
  padding-left: 1em;
  border: solid 1px #44939b;
  border-radius: 10px;
  
}
.contentComment{
  width: 100%;
}
.styleInput{
  width: 100%;
  height: 50px;
  padding-left: 1em;
  border: solid 1px #44939b;
  border-radius: 10px;
  margin-bottom: 1em;
}