.itineraryTextarea{
  width: 100%;
  height: 50px;
  padding-left: 1em;
  border: solid 2px #44939b;
  border-radius: 20px;
  
}
.contentComment{
  width: 100%;
}
.styleInput{
  width: 100%;
  height: 50px;
  padding-left: 1em;
  border: solid 2px #44939b;
  border-radius: 20px;
  margin-bottom: 1em;
}
.accordion-button{
  background-color: rgb(209, 245, 233);
  border: solid 2px #44939b;
  border-radius: 20px !important;
}
.accordion-item{
  border-radius: 20px !important;
}