



body {
 
  color: #23394d;
  
}

.wrapper {
  
  display: grid;
  gap: 3rem;
  justify-content:space-around;
  margin-top: 80px;
  padding-bottom: 60px;
}

.post{
  box-shadow: 10px 10px 20px #e1e1e3, -15px -15px 27px #ffffff;
  /* box-shadow: 0 0 10px 5px;  */
  min-width: 28rem;
  display: flex;
  border-radius: 1rem;
}
.post__img {
    width: 14rem;
    height: 11rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

.post__body {
    margin: 1rem;
    flex-grow: 2;
  }
.post__title {
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
  }
.post__description {
    line-height: 1.2rem;
  }
 
.post__btn {
    border: none;
    border-top: 1px solid;
    background-color: transparent;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    color: inherit;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: 200ms ease-in, color 200ms ease-in;
}

.post :hover{
    
  transform: scale(1.02);
  
}
 
.post:hover {
  transform: scale(1.15);
   box-shadow: 5px 5px 15px rgba(0,0,0,0.6); 
  /* box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff; */
  border-radius: 1rem;
} 
  
  .post_btn :hover{
      background:violet;
      color:white;
  }


@media screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: repeat(3, minmax(18rem, 20rem));
    
  }

  .post {
    flex-direction: column;
    text-align: center;
    min-width: 20rem;
    
  }
 .post__img {
      width: 100%;
      height: 12rem;
     
}
  
}
